# 環境変数
.env

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# ビルド成果物
frontend/dist

# 一時ファイル
.DS_Store
.idea
.vscode
*.swp
*.swo
*.log
*.tmp
*.bak

# Docker
.docker-sync
 backend/public/index.html
backend/public/css/app.1b0fd7ed.css
backend/public/js/app.f02fb2e5.js
backend/public/js/app.f02fb2e5.js.map
backend/public/js/chunk-vendors.64f6a1a0.js
backend/public/js/chunk-vendors.64f6a1a0.js.map
